body{
  height: 100%;
  width: 100%;
  background: #1d1d1d;
}
.flexMain{
  display: flex;
  height: 100vh;
}

.collapse-icon{
  float: right;
  margin-right: 20px;
  height: 50px;
}
.header-title{
  margin-top: 70px;
  font-size: 1.3Rem;
  opacity: 1;
  text-align: center;
  white-space: nowrap;
  transition: opacity 0.5s linear;
}
.header-title.collapse{
  opacity: 0;
}

.view-container{
  border-left:solid 2px #adadad;
  flex:1;
  color: #adadad;
  font-size: 1.5rem;
}
.view-empty{
  border-left:solid 2px #adadad;
  flex:1;
  color: #adadad;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loading{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #adadad;
}

nav.pro-menu{
  padding-top: 50px!important;
}
a::before{
  font-size: 1rem!important;
}
div.pro-inner-item{
  
  margin-top: 30px!important;
}
.characters{
  display: flex;
  flex-wrap: wrap;
}
.card{
  border: solid 3px #adadad;
  color: #adadad;
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px;
  box-sizing: border-box;
  margin: 15px;
  text-align: center;
  height: 340px;
  width: 210px;
}
.card:hover{
  border-color: white;
  color: white;
}
.card >div> img {
  height: 190px;
  width: 140px;
}

.episodes{
  height: 100%;
  width: 100%;
}
.row{
  border:solid 3px  #adadad;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.row *{
  margin: 10px;
}
.character{
  width: 100%;
  flex: 1;
  overflow: hidden;

}


.character-img{
  position: relative;
  text-align: center;
}
.character-img > img{
  max-height: 500px;
}
.info > p{
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
  border: solid 1px #adadad;
}
.clickhover{
  text-decoration: underline;
}
.clickhover:hover{
  color: white;
  cursor: pointer;
}
.deceased{
  width: 300px;
  height: 300px;
  color: rgba(255,0,0,0.35);
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  z-index: 5;
}